<launch>

  <arg name="gui" default="false"/>

  <!-- start up empty world -->
  <include file="$(find manipulation_worlds)/launch/empty_world.launch">
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- send pr2 urdf to param server -->
  <include file="$(find pr2_description)/robots/upload_pr2.launch" />

  <arg name="robot_location" value="-x -0.8 -y 4.0 -Y 3.14159"/>

  <!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_pr2_model" pkg="gazebo" type="spawn_model" args="$(arg robot_location) -unpause -urdf -J torso_lift_joint 0.32 -param robot_description -model pr2" respawn="false" output="screen" />

  <!-- default bringup script -->
  <include file="$(find pr2_gazebo)/launch/pr2_bringup.launch" />

  <!-- Load and Start Default Controllers -->
  <include file="$(find pr2_controller_configuration_gazebo)/pr2_default_controllers.launch" />

  <!-- add candy objects -->
  <include file="$(find manipulation_worlds)/launch/add_candy.launch" />

  <!-- parameters that give you reasonable physics as well as good speed -->
  <!-- needed so that gripper joint stops on objects instead of oscillating forever -->
  <node name="sor_pgs_iters" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_iters 50"/>
  <node name="sor_pgs_w" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo sor_pgs_w 1.0"/>
  <node name="time_step" pkg="dynamic_reconfigure" type="dynparam" args="set gazebo time_step 0.001"/>

</launch>

