<launch>
    <arg name="use_right_arm" default="true"/>
    <arg name="use_left_arm" default="true"/>
    <arg name="stereo" default="true"/>
    <arg name="use_task_cartesian" default="false"/>

    <node pkg="pr2_pick_and_place_demos" name="pick_and_place_demo" 
      type="run_pick_and_place_demo.py" respawn="false" output="screen">
        <param name="use_right_arm" value="$(arg use_right_arm)" />
        <param name="use_left_arm" value="$(arg use_left_arm)" />
        <param if="$(arg stereo)" name="stereo_camera_frame" value="/narrow_stereo_optical_frame" />
        <param unless="$(arg stereo)" name="stereo_camera_frame" value="/head_mount_kinect_rgb_optical_frame" />
	<param name="use_task_cartesian" value="$(arg use_task_cartesian)" />
    </node>

</launch>
