<launch>
  <arg name="stereo" default="true" />
  <arg name="use_slip_controllers" default="false"/> 
  

  <!-- Interactive Marker Teleop -->
  <include file="$(find pr2_marker_control)/launch/marker_control.launch">
    <arg name="use_slip_controllers" value="$(arg use_slip_controllers)"/>
    <arg name="stereo" value="$(arg stereo)"/>
  </include>

  <!-- ghosted gripper -->
  <include file="$(find pr2_marker_control)/launch/ghosted_gripper.launch" />

  <!-- cloud server -->
  <include file="$(find point_cloud_server)/launch/cloud_server.launch" >
    <arg name="stereo" value="$(arg stereo)"/>
  </include>

</launch>
