<launch>
  <arg name="use_machine" default="false"/>
  <arg name="machine" default="c2"/>
  <group if="$(arg use_machine)">
    <include file="$(find pr2_machine)/$(env ROBOT).machine" />
    <node name="pr2_gripper_grasp_planner_cluster" pkg="pr2_gripper_grasp_planner_cluster" 
      type="point_cluster_grasp_planner_server.py" respawn="false" output="screen" machine="$(arg machine)">
      <rosparam command="load" file="$(find pr2_gripper_grasp_planner_cluster)/config/pr2_gripper_model.yaml" />
      <param name="z_up_frame" value="/base_link"/>
      <param name="backoff_depth_steps" value="8"/>
    </node>  
  </group>
  <group unless="$(arg use_machine)">
    <node name="pr2_gripper_grasp_planner_cluster" pkg="pr2_gripper_grasp_planner_cluster" 
      type="point_cluster_grasp_planner_server.py" respawn="false" output="screen">
      <rosparam command="load" file="$(find pr2_gripper_grasp_planner_cluster)/config/pr2_gripper_model.yaml" />
      <param name="z_up_frame" value="/base_link"/>
      <param name="backoff_depth_steps" value="8"/>
    </node>  
  </group>


</launch>