<launch>
    <arg name="machine" default="c1" />

    <node pkg="segmented_clutter_grasp_planner" name="segmented_clutter_grasp_planner_server" type="segmented_clutter_grasp_planner_server.py" respawn="false" output="screen" machine="$(arg machine)"/>

    <node pkg="segmented_clutter_grasp_planner" name="find_container_action" type="find_container_action" respawn="false" output="screen" machine="$(arg machine)"/>

</launch>
